header {
    display: flex;
    justify-content: space-between;
}

main {
    text-align: center;
    

}

.question1 {
    text-align: start;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}