header {
    display: flex;
    justify-content: space-between;
}

main {
    text-align: center;
}

#question1 {
    text-align: start;
    display: none
}

#question2 {
    text-align: start;
    display: none;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}